<div class="container" id="results">

    <h1>Results</h1>

    <img class="img-responsive center-block" src="/graphs/<%= @mill %>1.jpg">

    <img class="img-responsive center-block" src="/graphs/<%= @mill %>2.jpg">

    <img class="img-responsive center-block" src="/graphs/<%= @mill %>3.jpg">

    <img class="img-responsive center-block" src="/graphs/<%= @mill %>5.jpg">

    <img class="img-responsive center-block" src="/graphs/<%= @mill %>6.jpg">

    <img class="img-responsive center-block" src="/graphs/<%= @mill %>8.jpg">

    <img class="img-responsive center-block" src="/graphs/<%= @mill %>9.jpg">

    <img class="img-responsive center-block" src="/graphs/<%= @mill %>10.jpg">

</div>
