<h1>HI</h1>

<h2>graph 1</h2>
<img src="/graphs/<%= @mill %>1.jpg">

<br>

<h2>graph 2</h2>
<img src="/graphs/<%= @mill %>2.jpg">

<br>

<h2>graph 3</h2>
<img src="/graphs/<%= @mill %>3.jpg">

<br>

<h2>graph 4</h2>
<img src="/graphs/<%= @mill %>4.jpg">

<br>

<h2>graph 5</h2>
<img src="/graphs/<%= @mill %>5.jpg">

<br>

<h2>graph 6</h2>
<img src="/graphs/<%= @mill %>6.jpg">

<br>

<h2>graph 7</h2>
<img src="/graphs/<%= @mill %>7.jpg">

<br>

<h2>graph 8</h2>
<img src="/graphs/<%= @mill %>8.jpg">

<br>

<h2>graph 9</h2>
<img src="/graphs/<%= @mill %>9.jpg">

<br>

<h2>graph 10</h2>
<img src="/graphs/<%= @mill %>10.jpg">

<br>

<h2>graph 11</h2>
<img src="/graphs/<%= @mill %>11.jpg">

<br>

<h2>graph 12</h2>
<img src="/graphs/<%= @mill %>12.jpg">

<br>

<h2>graph 13</h2>
<img src="/graphs/<%= @mill %>13.jpg">


